<div class="jumbotron">
	<h2>The Following are the Essential Prime Implicants</h2>
	<table class="table">
	<% _.each(collection, function(model) { %>
	<tr>
		<td><%= model['term'] %></td>
		<td><%= model['origin'] %></td>
	</tr>
	<% }); %>
	</table>
	<p><a class="btn btn-lg btn-success essential-next">Next</a></p>
</div>