<div class="jumbotron">
	<h2>Final Equation is</h2>
	<div id='final-eq'>
	$$
	<% for (var j = 0; j<collection.length; j++){ %>
		<% if (collection[j]['term'] == '1') { %>
			1
			<% break; } else %>
			<% for (var i = 0; i<collection[j]['term'].length; i++) { %>
				<% if(collection[j]['term'][i] == '1') { %> <%= String.fromCharCode(i+65) %> <% } else if (collection[j]['term'][i] == '0') { %> 
				\overline{<%= String.fromCharCode(i+65) %> }<% } %>
			<% } %>
			<% if (j!=((collection.length)-1)) { %>+<% } %>
		<% } %>
	$$
	</div>
	<p><a class="btn btn-lg btn-success final-next">Next</a></p>
</div>
<script>
	var math = document.getElementById("final-eq");
	MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
</script>