<div class="jumbotron">
	<h2>The Following are the generated Prime Implcants</h2>
	<table class="table">
	<% _.each(collection, function(model) { %>
	<tr>
		<td><%= model['implicant'] %></td>
		<td>
			<% _.each(model['origin'], function(origin){ %>
				<%= origin %>,
			<% }); %>
		</td>
	</tr>
	<% }); %>
	</table>
	<p><a class="btn btn-lg btn-success prime-next">Next</a></p>
</div>