<div class="jumbotron">
	<h2>Enter MIN/MAX Terms and don't cares</h2>
	<div class="min-max-container">
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" checked="">
		    Min Terms
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="false">
			Max Terms
		  </label>
		</div>
	</div>
	<br />
	<div class="terms-block">
		<li id="eq1">$$\sum{m(}$$</li><li><input name="tags" id="terms" /></li><li id="eq2">$$) + d($$</li><li><input name="tags" id="cares" /></li><li id="eq3">$$)$$</li>
	</div>
	<p><a class="btn btn-lg btn-success terms-next">Next</a></p>
	<p><a class="btn btn-lg btn-success skip-next">Skip TruthTable</a></p>
</div>
<script>
	var math = document.getElementById("eq1");
	MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
	var math = document.getElementById("eq2");
	MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
	var math = document.getElementById("eq3");
	MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
</script>
