<div class="jumbotron">
	<h1>Enter MIN/MAX Terms and don't cares</h1>
	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	    Min Terms
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		Max Terms
	  </label>
	</div>
	<p><a class="btn btn-lg btn-success" href="#/truth">Next</a></p>
</div>