<div class="jumbotron">
	<h2>Enter MIN/MAX Terms and don't cares</h2>
	<div class="min-max-container">
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="true">
		    Min Terms
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="false">
			Max Terms
		  </label>
		</div>
	</div>
	<br />
	<div class="terms-block">
		<li>$$\sum{m(}$$</li><li><input name="tags" id="terms" /></li><li>$$) + d($$</li><li><input name="tags" id="cares" /></li><li>$$)$$</li>
	</div>
	<input type="number" class="form-control number-of-bits"placeholder="Enter Number of bits">
	<p><a class="btn btn-lg btn-success terms-next">Next</a></p>
</div>

