$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-color: $brand-primary;
    padding-top: 20px;
    padding-bottom: 20px;
}
.backbone-container {
    min-width: 100%;
    padding-top: 5%;
    margin-left: 0px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #eee;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin-left: 0px;
    min-width: 100% !important;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        min-width: 100%;
        border-bottom: 0;
    }
}
.min-max-container {
    margin-top: 50px;
    div {
        float: left;
        width: 10%;
        margin: 1em;
    }
}
.radio {
    margin-top: 0px !important;
}
.terms-block {
    li {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
        float: left;
        width: auto;
    }
    .tagsinput{
        max-height: 50px;
        margin-bottom: 10px;
    }
    .MathJax_Display {
        margin-left: 10px;
        margin-right: 10px;
    }
    margin-top: 40px !important;
    margin-bottom: 150px;
    padding: 0;
    list-style-type: none;
    min-width: 100% !important;
}
.clear-both {
    clear: both;
}
.number-of-bits {
    max-width: 30%;
    margin-bottom: 10px;
}

.connection {
    stroke: #999;
}

.connection-wrap {
    stroke-linecap: butt;
    transition: all 0.5s linear 0.2s;
}

.connection-wrap:hover {
    stroke: black;
    stroke-width: 9px;
    transition: all 0s;
}

.link-tools .tool-remove circle {
    fill: white;
    stroke: #ccc;
    stroke-width: 1px;
    stroke-opacity: .5;
}

.link-tools .tool-remove:hover circle {
    fill: #e74c3c;
    stroke: #c0392b;
}

.link-tools .tool-remove path {
    stroke: #ccc;
}

.link-tools .tool-remove circle {
    transition: fill 1s;
}

.link-tools .tool-remove:hover path {
    stroke: none;
}

.marker-arrowhead, .marker-vertex {
    fill: #fff;
    stroke: #7f8c8d;
    stroke-opacity: 0.4;
    stroke-width: 2px;
}

.marker-arrowhead:hover,  .marker-vertex:hover {
    fill: #ecf0f1;
    stroke: #bdc3c7;
}

.marker-vertex-remove-area {
    fill: white;
    stroke: #ccc;
    stroke-opacity: .5;
}

.marker-vertex-remove-group:hover .marker-vertex-remove-area {
    transition: fill 1s;
    fill: #e74c3c;
    stroke: #c0392b;
}

.marker-vertex-remove {
    stroke: #eee;
}

.marker-vertex-remove-group:hover .marker-vertex-remove {
    stroke: none;
}

.element .highlighted {
    outline: none;
    fill: #ecf0f1;
    stroke: #bdc3c7;
    cursor: crosshair;
}

.element .body {
    fill: #ecf0f1;
    stroke: #bdc3c7;
    stroke-opacity: 0.5;
    transition: all 0.2s;
}

.element circle {
    fill: #fff;
    stroke: #7f8c8d;
    stroke-opacity: 0.5;
    stroke-width: 2px;
}

.element text {
    fill: #333;
}

.live .connection {
    stroke: #2ecc71;
    stroke-width: 3px;
}

.live .connection-wrap {
    stroke: #2ecc71;
}

.element.live .body {
    fill: #2ecc71;
    stroke: #27ae60;
}

.element.live text {
    fill: #ffffff;
}